@model List<Movies>
@{
    ViewData["Title"] = "Movie Shop";
}

<div class="container mt-3">
    <div class="row g-2">
        @foreach (var movie in Model)
        {
            @Html.Partial("_ImageCard", movie);
        }
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="MoviesByGenre" asp-controller="Home" asp-route-id="@ViewBag.CurrentGenreId" asp-route-page="1">First Page</a>
            </li>
        }

        @if (ViewBag.CurrentPage > 5)
        {
            <li class="page-item disabled"><span class="page-link">...</span></li>
        }

        @{
            int start = Math.Max(1, ViewBag.CurrentPage - 4);
            int end = Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 4);

            for (int i = start; i <= end; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="MoviesByGenre" asp-controller="Home" asp-route-id="@ViewBag.CurrentGenreId" asp-route-page="@i">@i</a>
                </li>
            }
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages - 4)
        {
            <li class="page-item disabled"><span class="page-link">...</span></li>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="MoviesByGenre" asp-controller="Home" asp-route-id="@ViewBag.CurrentGenreId" asp-route-page="@ViewBag.TotalPages">Last Page</a>
            </li>
        }
    </ul>
</nav>